.submit-button{
    font-size: 1.25rem;
    border: 1px solid #d8d8d8;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    background-color: #e7e7e7;

}
.submit-button:hover{
    border: 1.5px solid #b0b0b0;
    
}