@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.page{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cw-container{
  position: relative;
  background-color: white;
  color: black;
  padding: 2rem 2rem 2rem 2rem;
  border: 0.15rem solid grey;
  border-radius: 1rem;
  max-width: 45rem;
  min-width: 45rem;
  max-height: 45rem;
  min-height: 45rem;
}
.score {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
}
.skip {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2rem;
}
.submit {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
